@model Contact

@{
    ViewData["Title"] = "Создание";
}

<h1>Создать</h1>

<h4>Новый контакт</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization" class="control-label"></label>
                <input asp-for="Organization" class="form-control" />
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>

            <div class="form-group">
                @if (Model == null || Model.Phones.Count == 1)
                {
                    <label asp-for="Phones[0].PhoneNumber" class="control-label"></label>
                    <input asp-for="Phones[0].PhoneNumber" value="@(Model == null ? null : (Model.Phones[0].PhoneNumber))" class="form-control" />
                    <span asp-validation-for="Phones[0].PhoneNumber" class="text-danger"></span>
                    <button type="submit" name="button" class="btn-primary" value="addPhoneField0">+</button>
                }
                else
                {
                    @for (int i = 0; i < Model.Phones.Count; i++)
                    {
                        <label asp-for="Phones[i].PhoneNumber" class="control-label"></label>
                        <input asp-for="Phones[i].PhoneNumber" value="@(Model.Phones[i].PhoneNumber)" class="form-control" />
                        <span asp-validation-for="Phones[i].PhoneNumber" class="text-danger"></span>
                        <button type="submit" name="button" class="btn-primary" value="@("addPhoneField"+ i)">+</button>
                        <button type="submit" name="button" class="btn-secondary" value="@("delPhoneField" + i)">-</button>
                    }
                }
            </div>
            <div class="form-group">
                @if (Model == null || Model.Emails.Count == 1)
                {
                    <label asp-for="Emails[0].EmailAdress" class="control-label"></label>
                    <input asp-for="Emails[0].EmailAdress" value="@(Model == null ? null : (Model.Emails[0].EmailAdress))" class="form-control" />
                    <span asp-validation-for="Emails[0].EmailAdress" class="text-danger"></span>
                    <button type="submit" name="button" class="btn-primary" value="addEmailField0">+</button>
                }
                else
                {
                    @for (int i = 0; i < Model.Emails.Count; i++)
                    {
                        <label asp-for="Emails[i].EmailAdress" class="control-label"></label>
                        <input asp-for="Emails[i].EmailAdress" value="@(Model.Emails[i].EmailAdress)" class="form-control" />
                        <span asp-validation-for="Emails[i].EmailAdress" class="text-danger"></span>
                        <button type="submit" name="button" class="btn-primary" value="@("addEmailField"+ i)">+</button>
                        <button type="submit" name="button" class="btn-secondary" value="@("delEmailField" + i)">-</button>
                    }
                }
            </div>
            <div class="form-group">
                @if (Model == null || Model.Skypes.Count == 1)
                {
                    <label asp-for="Skypes[0].SkypeNumber" class="control-label"></label>
                    <input asp-for="Skypes[0].SkypeNumber" value="@(Model == null ? null : (Model.Skypes[0].SkypeNumber))" class="form-control" />
                    <span asp-validation-for="Skypes[0].SkypeNumber" class="text-danger"></span>
                    <button type="submit" name="button" class="btn-primary" value="addSkypeField0">+</button>
                }
                else
                {
                    @for (int i = 0; i < Model.Skypes.Count; i++)
                    {
                        <label asp-for="Skypes[i].SkypeNumber" class="control-label"></label>
                        <input asp-for="Skypes[i].SkypeNumber" value="@(Model.Skypes[i].SkypeNumber)" class="form-control" />
                        <span asp-validation-for="Skypes[i].SkypeNumber" class="text-danger"></span>
                        <button type="submit" name="button" class="btn-primary" value="@("addSkypeField"+ i)">+</button>
                        <button type="submit" name="button" class="btn-secondary" value="@("delSkypeField" + i)">-</button>
                    }
                }
            </div> 
            <div class="form-group">
                @if (Model == null || Model.Others.Count == 1)
                {
                    <label asp-for="Others[0].OtherField" class="control-label"></label>
                    <input asp-for="Others[0].OtherField" value="@(Model == null ? null : (Model.Others[0].OtherField))" class="form-control" />
                    <span asp-validation-for="Others[0].OtherField" class="text-danger"></span>
                    <button type="submit" name="button" class="btn-primary" value="addOtherField0">+</button>
                }
                else
                {
                    @for (int i = 0; i < Model.Others.Count; i++)
                    {
                        <label asp-for="Others[i].OtherField" class="control-label"></label>
                        <input asp-for="Others[i].OtherField" value="@(Model.Others[i].OtherField)" class="form-control" />
                        <span asp-validation-for="Others[i].OtherField" class="text-danger"></span>
                        <button type="submit" name="button" class="btn-primary" value="@("addOtherField"+ i)">+</button>
                        <button type="submit" name="button" class="btn-secondary" value="@("delOtherField" + i)">-</button>
                    }
                }
            </div>
            <div class="form-group">
                <button type="submit" name="button" class="btn-primary" value="create">Создать</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
