@model IList<Contact>

@{
    ViewData["Title"] = "Список контактов";
}

<h1>Список контактов</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<form asp-controller="Contacts" asp-action="Index"
      method="post">
    <p>
        <label>Поиск:</label>
        <input type="text" name="SearchString" value="@ViewData["SearchStr"]" />
        <input type="submit" value="Искать" />
    </p>
</form>
<form asp-controller="Contacts" asp-action="Index"
      method="post">
    <p>
        <label>По дате рождения</label>
        <input asp-format="{" type="date" name="SearchDateStart" value="@ViewData["SearchDateStart"]" />
        <label> до </label>
        <input type="date" name="SearchDateEnd" value="@ViewData["SearchDateEnd"]" />
        <input type="submit" value="Фильтр" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(item => item.FirstOrDefault().FullName)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.FirstOrDefault().Phones)
            </th>
            <th>
                @Html.DisplayNameFor(item =>item.FirstOrDefault().Emails)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.FirstOrDefault().Skypes)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(i => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(i => item.Phones.FirstOrDefault().PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(i => item.Emails.FirstOrDefault().EmailAdress)
            </td>
            <td>
                @Html.DisplayFor(i => item.Skypes.FirstOrDefault().SkypeNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ContactId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
